html {
    height: 100%;
    scroll-behavior: smooth; }

body {
    background-image: url("/images/pngwing.com.png");
    
  
  }

.fondo {
    background-image: url("/images/pngwing.com.png");
    
    
}
